In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/GPT/sample2.csv')

In [ ]:
df.columns = ['i','id','summary']
df

       i          id                                            summary
0      1  zWSR9EQhrG  정부가 신종 코로나바이러스 감염증(코로나19) 여파로 직격탄을 맞은 사회적 취약계층...
1      2  FdCwnykWkd  창원 경상대병원 노동조합은 2016년부터 최근까지 신생아 중환자실 등에 근무하는 간...
2      3  vBwAKwGXHz  건강이나 다이어트를 위해 마시는 클렌즈 주스의 평균 열량은 87.41kcal, 혼합...
3      4  dDkXHmhxN9  교육부는 수능연기에 따른 수험생과 학부모 및 국민의 고충을 최소화하기 위해 수능시험...
4      5  x1qkULUAuo  역학조사팀장이 설명드린 것처럼 백신을 평가할 때는 보통 세 가지 요인으로 나누어서 ...
..   ...         ...                                                ...
494  495  UZt8k9n0Z6  접근매체가 분실 또는 도난당한 경우는 서면으로 신고하게 하거나 아니면 직접 대면해서...
495  496  Lg1fQG5DpJ  12세 이하의 어린이의 경우 부모를 통한 가족 내 전파가 학교 관련 전파보다 많았고...
496  497  UHZEucimy0  김현미 위원 "2016년도에 보면 저희가 그래도 계산을 해 보면 조기 집행이 영점몇...
497  498  hH1fi1JTUi  <답변> (김희경 한국교육과정평가원 교육평가본부장)  표집평가에서 나타난 결과를 해...
498  499  A6x0T74ORS  20일 영화진흥위원회 통합전산망에 따르면 20일 영화진흥위원회 통합전산망에 따르면 ...

[499 rows x 3 columns]

In [ ]:
type(df.summary)

pandas.core.series.Series

In [ ]:
x = df.columns

In [ ]:
dfx = pd.DataFrame(x)
dff= pd.concat([dfx,df])

In [ ]:
x = ['0', 'xAqIHdvEZG',
       '서울시여성가족재단은 지난 20일 세계 어린이날을 맞아 보육·교육기관에서 어린이가 겪는 성차별적 말과 행동을 양성평등 관점에서 바꾼 ‘서울시 성평등 어린이사전’을 만들었으며 시민 대상 설문조사에서 어린이가 겪는 성차별이 가장 심한 부분은 교사의 말과 행동이라고 밝혔다.\n']

In [ ]:
dfx = pd.DataFrame(x)
dfx

                                                   0
0                                                  0
1                                         xAqIHdvEZG
2  서울시여성가족재단은 지난 20일 세계 어린이날을 맞아 보육·교육기관에서 어린이가 겪...

In [ ]:
import numpy as np
ddf= pd.DataFrame(np.random.rand(1,3), columns=['i','id','summary'])
ddf

          i        id  summary
0  0.864632  0.679779  0.58706

In [ ]:
ddf.id[0]='xAqIHdvEZG' 
ddf

<ipython-input-43-05c0ca1a64de>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ddf.id[0]='xAqIHdvEZG'

          i          id                                            summary
0  0.864632  xAqIHdvEZG  서울시여성가족재단은 지난 20일 세계 어린이날을 맞아 보육·교육기관에서 어린이가 겪...

In [ ]:
ddf.drop(0,inplace = True)
ddf

Empty DataFrame
Columns: [i, id, summary, 0]
Index: []

In [ ]:
x

['0',
 'xAqIHdvEZG',
 '서울시여성가족재단은 지난 20일 세계 어린이날을 맞아 보육·교육기관에서 어린이가 겪는 성차별적 말과 행동을 양성평등 관점에서 바꾼 ‘서울시 성평등 어린이사전’을 만들었으며 시민 대상 설문조사에서 어린이가 겪는 성차별이 가장 심한 부분은 교사의 말과 행동이라고 밝혔다.\n']

In [ ]:
dff

,0,0,xAqIHdvEZG,서울시여성가족재단은 지난 20일 세계 어린이날을 맞아 보육·교육기관에서 어린이가 겪는 성차별적 말과 행동을 양성평등 관점에서 바꾼 ‘서울시 성평등 어린이사전’을 만들었으며 시민 대상 설문조사에서 어린이가 겪는 성차별이 가장 심한 부분은 교사의 말과 행동이라고 밝혔다.\n
0,0,NaN,NaN,NaN
1,xAqIHdvEZG,NaN,NaN,NaN
2,서울시여성가족재단은 지난 20일 세계 어린이날을 맞아 보육·교육기관에서 어린이가 겪...,NaN,NaN,NaN
0,NaN,1.0,zWSR9EQhrG,정부가 신종 코로나바이러스 감염증(코로나19) 여파로 직격탄을 맞은 사회적 취약계층...
1,NaN,2.0,FdCwnykWkd,창원 경상대병원 노동조합은 2016년부터 최근까지 신생아 중환자실 등에 근무하는 간...
...,...,...,...,...
494,NaN,495.0,UZt8k9n0Z6,접근매체가 분실 또는 도난당한 경우는 서면으로 신고하게 하거나 아니면 직접 대면해서...
495,NaN,496.0,Lg1fQG5DpJ,12세 이하의 어린이의 경우 부모를 통한 가족 내 전파가 학교 관련 전파보다 많았고...
496,NaN,497.0,UHZEucimy0,"김현미 위원 ""2016년도에 보면 저희가 그래도 계산을 해 보면 조기 집행이 영점몇..."
497,NaN,498.0,hH1fi1JTUi,<답변> (김희경 한국교육과정평가원 교육평가본부장) 표집평가에서 나타난 결과를 해...
498,NaN,499.0,A6x0T74ORS,20일 영화진흥위원회 통합전산망에 따르면 20일 영화진흥위원회 통합전산망에 따르면 ...

In [ ]:
df

       i          id                                            summary
0      1  zWSR9EQhrG  정부가 신종 코로나바이러스 감염증(코로나19) 여파로 직격탄을 맞은 사회적 취약계층...
1      2  FdCwnykWkd  창원 경상대병원 노동조합은 2016년부터 최근까지 신생아 중환자실 등에 근무하는 간...
2      3  vBwAKwGXHz  건강이나 다이어트를 위해 마시는 클렌즈 주스의 평균 열량은 87.41kcal, 혼합...
3      4  dDkXHmhxN9  교육부는 수능연기에 따른 수험생과 학부모 및 국민의 고충을 최소화하기 위해 수능시험...
4      5  x1qkULUAuo  역학조사팀장이 설명드린 것처럼 백신을 평가할 때는 보통 세 가지 요인으로 나누어서 ...
..   ...         ...                                                ...
494  495  UZt8k9n0Z6  접근매체가 분실 또는 도난당한 경우는 서면으로 신고하게 하거나 아니면 직접 대면해서...
495  496  Lg1fQG5DpJ  12세 이하의 어린이의 경우 부모를 통한 가족 내 전파가 학교 관련 전파보다 많았고...
496  497  UHZEucimy0  김현미 위원 "2016년도에 보면 저희가 그래도 계산을 해 보면 조기 집행이 영점몇...
497  498  hH1fi1JTUi  <답변> (김희경 한국교육과정평가원 교육평가본부장)  표집평가에서 나타난 결과를 해...
498  499  A6x0T74ORS  20일 영화진흥위원회 통합전산망에 따르면 20일 영화진흥위원회 통합전산망에 따르면 ...

[499 rows x 3 columns]

In [ ]:
result = pd.concat([ddf,df])
result

              i          id                                            summary
0      0.864632  xAqIHdvEZG  서울시여성가족재단은 지난 20일 세계 어린이날을 맞아 보육·교육기관에서 어린이가 겪...
0      1.000000  zWSR9EQhrG  정부가 신종 코로나바이러스 감염증(코로나19) 여파로 직격탄을 맞은 사회적 취약계층...
1      2.000000  FdCwnykWkd  창원 경상대병원 노동조합은 2016년부터 최근까지 신생아 중환자실 등에 근무하는 간...
2      3.000000  vBwAKwGXHz  건강이나 다이어트를 위해 마시는 클렌즈 주스의 평균 열량은 87.41kcal, 혼합...
3      4.000000  dDkXHmhxN9  교육부는 수능연기에 따른 수험생과 학부모 및 국민의 고충을 최소화하기 위해 수능시험...
..          ...         ...                                                ...
494  495.000000  UZt8k9n0Z6  접근매체가 분실 또는 도난당한 경우는 서면으로 신고하게 하거나 아니면 직접 대면해서...
495  496.000000  Lg1fQG5DpJ  12세 이하의 어린이의 경우 부모를 통한 가족 내 전파가 학교 관련 전파보다 많았고...
496  497.000000  UHZEucimy0  김현미 위원 "2016년도에 보면 저희가 그래도 계산을 해 보면 조기 집행이 영점몇...
497  498.000000  hH1fi1JTUi  <답변> (김희경 한국교육과정평가원 교육평가본부장)  표집평가에서 나타난 결과를 해...
498  499.000000  A6x0T74ORS  20일 영화진흥위원회 통합전산망에 따르면 20일 영화진흥위원회 통합전산망에 따르면 ...

[500 rows x 3 columns]

In [ ]:
dx = pd.read_csv('/content/drive/MyDrive/GPT/sample_submission.csv')
dx

             id  summary
0    xAqIHdvEZG      NaN
1    zWSR9EQhrG      NaN
2    FdCwnykWkd      NaN
3    vBwAKwGXHz      NaN
4    dDkXHmhxN9      NaN
..          ...      ...
495  UZt8k9n0Z6      NaN
496  Lg1fQG5DpJ      NaN
497  UHZEucimy0      NaN
498  hH1fi1JTUi      NaN
499  A6x0T74ORS      NaN

[500 rows x 2 columns]

In [ ]:
dx.columns

Index(['id', 'summary'], dtype='object')

In [ ]:
dx.drop('summary', axis =1, inplace=True)

In [ ]:
result.drop('id',axis=1, inplace=True)
result.drop('i',axis=1, inplace=True)
result

                                               summary
0    서울시여성가족재단은 지난 20일 세계 어린이날을 맞아 보육·교육기관에서 어린이가 겪...
0    정부가 신종 코로나바이러스 감염증(코로나19) 여파로 직격탄을 맞은 사회적 취약계층...
1    창원 경상대병원 노동조합은 2016년부터 최근까지 신생아 중환자실 등에 근무하는 간...
2    건강이나 다이어트를 위해 마시는 클렌즈 주스의 평균 열량은 87.41kcal, 혼합...
3    교육부는 수능연기에 따른 수험생과 학부모 및 국민의 고충을 최소화하기 위해 수능시험...
..                                                 ...
494  접근매체가 분실 또는 도난당한 경우는 서면으로 신고하게 하거나 아니면 직접 대면해서...
495  12세 이하의 어린이의 경우 부모를 통한 가족 내 전파가 학교 관련 전파보다 많았고...
496  김현미 위원 "2016년도에 보면 저희가 그래도 계산을 해 보면 조기 집행이 영점몇...
497  <답변> (김희경 한국교육과정평가원 교육평가본부장)  표집평가에서 나타난 결과를 해...
498  20일 영화진흥위원회 통합전산망에 따르면 20일 영화진흥위원회 통합전산망에 따르면 ...

[500 rows x 1 columns]

- CONCAT 할 때, 인덱스가 다르거나 개수가 맞지 않으면, 진행 불가. 저장할때 인덱스저장을 안하여서 인덱스 순서가 달랐음. 그를 해결하고자 여러개를 손보다가 오히려 1번행을 삭제 시키는 바람에 1행을 다시 만들고자 하였고, 번호가 잘못된 인덱스를 고치고자 RangeIndex를 사용하여 올바른 인덱스로 변형함. 그후 concat을 진행하여 저장 형식을 맞춰줌

In [ ]:
result.index = pd.RangeIndex(start=0, stop=500, step=1)
result

                                               summary
0    서울시여성가족재단은 지난 20일 세계 어린이날을 맞아 보육·교육기관에서 어린이가 겪...
1    정부가 신종 코로나바이러스 감염증(코로나19) 여파로 직격탄을 맞은 사회적 취약계층...
2    창원 경상대병원 노동조합은 2016년부터 최근까지 신생아 중환자실 등에 근무하는 간...
3    건강이나 다이어트를 위해 마시는 클렌즈 주스의 평균 열량은 87.41kcal, 혼합...
4    교육부는 수능연기에 따른 수험생과 학부모 및 국민의 고충을 최소화하기 위해 수능시험...
..                                                 ...
495  접근매체가 분실 또는 도난당한 경우는 서면으로 신고하게 하거나 아니면 직접 대면해서...
496  12세 이하의 어린이의 경우 부모를 통한 가족 내 전파가 학교 관련 전파보다 많았고...
497  김현미 위원 "2016년도에 보면 저희가 그래도 계산을 해 보면 조기 집행이 영점몇...
498  <답변> (김희경 한국교육과정평가원 교육평가본부장)  표집평가에서 나타난 결과를 해...
499  20일 영화진흥위원회 통합전산망에 따르면 20일 영화진흥위원회 통합전산망에 따르면 ...

[500 rows x 1 columns]

In [ ]:
|dx

             id
0    xAqIHdvEZG
1    zWSR9EQhrG
2    FdCwnykWkd
3    vBwAKwGXHz
4    dDkXHmhxN9
..          ...
495  UZt8k9n0Z6
496  Lg1fQG5DpJ
497  UHZEucimy0
498  hH1fi1JTUi
499  A6x0T74ORS

[500 rows x 1 columns]

In [ ]:
result3 = pd.concat([dx,result],axis=1)
result3

             id                                            summary
0    xAqIHdvEZG  서울시여성가족재단은 지난 20일 세계 어린이날을 맞아 보육·교육기관에서 어린이가 겪...
1    zWSR9EQhrG  정부가 신종 코로나바이러스 감염증(코로나19) 여파로 직격탄을 맞은 사회적 취약계층...
2    FdCwnykWkd  창원 경상대병원 노동조합은 2016년부터 최근까지 신생아 중환자실 등에 근무하는 간...
3    vBwAKwGXHz  건강이나 다이어트를 위해 마시는 클렌즈 주스의 평균 열량은 87.41kcal, 혼합...
4    dDkXHmhxN9  교육부는 수능연기에 따른 수험생과 학부모 및 국민의 고충을 최소화하기 위해 수능시험...
..          ...                                                ...
495  UZt8k9n0Z6  접근매체가 분실 또는 도난당한 경우는 서면으로 신고하게 하거나 아니면 직접 대면해서...
496  Lg1fQG5DpJ  12세 이하의 어린이의 경우 부모를 통한 가족 내 전파가 학교 관련 전파보다 많았고...
497  UHZEucimy0  김현미 위원 "2016년도에 보면 저희가 그래도 계산을 해 보면 조기 집행이 영점몇...
498  hH1fi1JTUi  <답변> (김희경 한국교육과정평가원 교육평가본부장)  표집평가에서 나타난 결과를 해...
499  A6x0T74ORS  20일 영화진흥위원회 통합전산망에 따르면 20일 영화진흥위원회 통합전산망에 따르면 ...

[500 rows x 2 columns]

In [ ]:
dx.index

RangeIndex(start=0, stop=500, step=1)

In [ ]:
result3.to_csv('/content/drive/MyDrive/GPT/sample4.csv', index=False)
result3

             id                                            summary
0    xAqIHdvEZG  서울시여성가족재단은 지난 20일 세계 어린이날을 맞아 보육·교육기관에서 어린이가 겪...
1    zWSR9EQhrG  정부가 신종 코로나바이러스 감염증(코로나19) 여파로 직격탄을 맞은 사회적 취약계층...
2    FdCwnykWkd  창원 경상대병원 노동조합은 2016년부터 최근까지 신생아 중환자실 등에 근무하는 간...
3    vBwAKwGXHz  건강이나 다이어트를 위해 마시는 클렌즈 주스의 평균 열량은 87.41kcal, 혼합...
4    dDkXHmhxN9  교육부는 수능연기에 따른 수험생과 학부모 및 국민의 고충을 최소화하기 위해 수능시험...
..          ...                                                ...
495  UZt8k9n0Z6  접근매체가 분실 또는 도난당한 경우는 서면으로 신고하게 하거나 아니면 직접 대면해서...
496  Lg1fQG5DpJ  12세 이하의 어린이의 경우 부모를 통한 가족 내 전파가 학교 관련 전파보다 많았고...
497  UHZEucimy0  김현미 위원 "2016년도에 보면 저희가 그래도 계산을 해 보면 조기 집행이 영점몇...
498  hH1fi1JTUi  <답변> (김희경 한국교육과정평가원 교육평가본부장)  표집평가에서 나타난 결과를 해...
499  A6x0T74ORS  20일 영화진흥위원회 통합전산망에 따르면 20일 영화진흥위원회 통합전산망에 따르면 ...

[500 rows x 2 columns]